name: Unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x
        include-prerelease: true 

    - name: Restore dependencies
      run: dotnet restore
      working-directory: FinModelUtility

    - name: Build
      run: dotnet build --no-restore
      working-directory: FinModelUtility

    - name: Install Mesa Windows
      uses: f3d-app/install-mesa-windows-action@v1
      with:
        path: "${{github.workspace}}/mesa"

    - name: Copy Mesa files to VRML test directory
      shell: cmd
      run: xcopy /s "${{github.workspace}}/mesa" "${{github.workspace}}/FinModelUtility/Formats/Vrml/Vrml Tests/bin/x64/Debug/net9.0/" /i

    - name: Test
      run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov /p:ExcludeByFile="**/Fin.Ui/**/*.cs%2c**/KSoft/**/*.cs%2c**/SceneGate/**/*.cs"
      working-directory: FinModelUtility

    - name: Set Up NPM
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install 'lcov-result-merger'
      run: npm i -g lcov-result-merger
    - name: Merge Test Coverage
      run: lcov-result-merger "**/coverage.info" "lcov.info" --legacy-temp-file

    - name: Upload to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: lcov.info
